In [ ]:
!pip install google-api-python-client
!pip install oauth2client

In [9]:
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from oauth2client.tools import argparser

API_KEY = "KEY"
YOUTUBE_API_SERVICE_NAME = 'youtube'
YOUTUBE_API_VERSION = 'v3'

youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=API_KEY)

In [53]:
search_channel = youtube.search().list(
    q = "유랑쓰 YOURANGSS",
    part = "snippet",
    order = "relevance",
    maxResults = 50,
).execute()

In [52]:
def set_video(channelId, maxCount):
    search_response = youtube.search().list(
        order = 'date',
        part = 'snippet',
        channelId = channelId,
        maxResults = maxCount,
    ).execute()

    channel_response = youtube.channels().list(
        part = 'statistics',
        id = channelId,
    ).execute()

    video_ids = []
    for i in range(0, len(search_response['items'])):
        video_ids.append((search_response['items'][i]['id']['videoId']))

    channel_video_id = []
    channel_video_title = []
    channel_video_description = []
    channel_rating_view = []
    channel_rating_comment = []
    channel_rating_like = []
    channel_subscriber_count = []
    channel_thumbnail_url = []
    channel_published_date = []
    data_dicts = {}

    for k in range(0, len(search_response['items'])):
        video_ids_lists = youtube.videos().list(
            part = 'snippet, statistics',
            id = video_ids[k],
        ).execute()

        str_video_id = video_ids_lists['items'][0]['id']
        str_video_title = video_ids_lists['items'][0]['snippet'].get('title')
        str_video_description = video_ids_lists['items'][0]['snippet'].get('description')
        str_video_view = video_ids_lists['items'][0]['statistics'].get('viewCount')
        str_video_comment = video_ids_lists['items'][0]['statistics']['commentCount']
        str_video_like = video_ids_lists['items'][0]['statistics'].get('likeCount')
        str_video_subscriber = channel_response['items'][0]['statistics']['subscriberCount']
        str_video_thumbnail_url = str(video_ids_lists['items'][0]['snippet']['thumbnails']['high'].get('url'))
        str_published_date = str(video_ids_lists['items'][0]['snippet'].get('publishedAt'))

        channel_video_id.append(str_video_id)
        channel_video_title.append(str_video_title)
        channel_video_description.append(str_video_description)
        channel_rating_view.append(str_video_view)
        channel_rating_comment.append(str_video_comment)
        channel_rating_like.append(str_video_like)
        channel_subscriber_count.append(str_video_subscriber)
        channel_thumbnail_url.append(str_video_thumbnail_url)
        channel_published_date.append(str_published_date)

    data_dicts['id'] = channel_video_id
    data_dicts['title'] = channel_video_title
    data_dicts['description'] = channel_video_description
    data_dicts['view'] = channel_rating_view
    data_dicts['comment'] = channel_rating_comment
    data_dicts['like'] = channel_rating_like
    data_dicts['subscriber'] = channel_subscriber_count
    data_dicts['thumbnail'] = channel_thumbnail_url
    data_dicts['published_date'] = channel_published_date

    return data_dicts

In [59]:
youtuber = set_video('UCnVEtY_GfM7meN1-pyl7E7A', '25')

In [65]:
import pandas as pd

df = pd.DataFrame([youtuber['id'],
                  youtuber['title'],
                  youtuber['description'],
                  youtuber['view'],
                  youtuber['like'],
                  youtuber['comment'],
                  youtuber['subscriber'],
                  youtuber['thumbnail'],
                  youtuber['published_date']]).T
df.columns = ['id', 'title', 'description', 'view', 'like', 'comment', 'subscriber', 'thumbnail', 'published_date']
df

,id,title,description,view,like,comment,subscriber,thumbnail,published_date
0,SO8NLzTlwu8,"대한민국 부동산, 살기 좋은 동네를 찾아서",30대 부부의 부동산 고민\n#부동산 #부동산매매 #전세 #월세 #임장\n\n📸 인...,102377,2717,623,252000,https://i.ytimg.com/vi/SO8NLzTlwu8/hqdefault.jpg,2025-02-23T09:01:41Z
1,d-0efd13dq8,10년차 부부… 우린 왜 집이 없어?,30대 부부의 부동산 고민\n#부동산 #전세 #월세 #매매 \n\n* 본 영상은 비...,147012,3371,1288,252000,https://i.ytimg.com/vi/d-0efd13dq8/hqdefault.jpg,2025-02-15T01:06:45Z
2,ahvRNbRfUwA,여러분들은 대전에 대해 오해가 많으십니다...,대전 맛집 먹방 여행 브이로그\n#대전 #대전여행 #대전맛집 #대전먹방 #대전술집 ...,140807,3362,585,252000,https://i.ytimg.com/vi/ahvRNbRfUwA/hqdefault.jpg,2025-02-08T01:03:06Z
3,L6NhmVmQs5s,고물가시대 혜자로운 코스트코 장보기,동탄러의 코스트코 쇼핑 브이로그\n#코스트코 #일상 #브이로그\n\n📸 인스타그램 ...,166424,4248,912,252000,https://i.ytimg.com/vi/L6NhmVmQs5s/hqdefault.jpg,2025-02-01T01:16:22Z
4,BJDB2VAErWQ,발리 5성 호텔에 머물다 급하게 귀국한 이유,발리 우붓 여행 브이로그 5화\n#발리 #우붓 #마야우붓\n\n📍 영상 속 장소\n...,213231,3844,530,252000,https://i.ytimg.com/vi/BJDB2VAErWQ/hqdefault.jpg,2025-01-23T01:55:55Z
5,uUfWQU0p81g,역대급 하루를 보내고 발리밸리인지 정체 모를 병으로 앓아 눕다...,발리 우붓 여행 브이로그 4화\n#발리 #우붓 #발리투어\n\n(본 영상은 몰바니의...,129839,3216,548,252000,https://i.ytimg.com/vi/uUfWQU0p81g/hqdefault.jpg,2025-01-18T01:04:28Z
6,DN8lX_a2oNQ,"물가 급등한 발리, 집 구하고 살아본 솔직 후기",발리 우붓 여행 브이로그 3화\n#발리 #우붓 #한달살기\n\n📍 영상 속 장소\n...,156914,3772,565,252000,https://i.ytimg.com/vi/DN8lX_a2oNQ/hqdefault.jpg,2025-01-11T02:37:15Z
7,m1oy3ambTOg,지푸라기 잡는 심정으로 유명한 철학관에 간 사연,발리 우붓 여행 브이로그 2화\n#발리 #우붓 #한달살기\n\n(본 영상은 '스픽'...,219699,5347,1037,252000,https://i.ytimg.com/vi/m1oy3ambTOg/hqdefault.jpg,2025-01-07T01:04:12Z
8,-M5-PyWmh1A,전세계 살기 좋은 도시를 찾아서 🌎,발리 우붓 여행 브이로그 1화\n#자유 #발리 #우붓 #한달살기\n\n📍영상 속 장...,183386,4026,600,252000,https://i.ytimg.com/vi/-M5-PyWmh1A/hqdefault.jpg,2024-12-28T01:21:59Z
9,sGARDlf8NDM,베스트셀러가 되면 돈을 얼마나 벌까?,30대 부부 브이로그\n#베스트셀러 #수익 #브이로그 \n\n📚 도서 (유랑하는 자...,170742,5514,935,252000,https://i.ytimg.com/vi/sGARDlf8NDM/hqdefault.jpg,2024-11-29T06:00:25Z
10,AVJcjlFw-pA,취향이 정반대인 부부의 2박 3일 마카오 여행,30대 부부의 마카오 여행 브이로그\n#마카오 #마카오여행 #마카오맛집 #마카오호텔...,155887,3478,353,252000,https://i.ytimg.com/vi/AVJcjlFw-pA/hqdefault.jpg,2024-11-23T01:40:56Z
11,oNFyzFSLYlI,내가 생각한 여행이 아니야,중국 상해 상하이 여행 브이로그 마지막화\n#중국여행 #상해여행 #상하이여행 #쑤저...,159404,3660,528,252000,https://i.ytimg.com/vi/oNFyzFSLYlI/hqdefault.jpg,2024-11-16T01:02:15Z
12,xBlcO73AC-Y,미래에 간다면 이런 느낌일까?,중국 상해 상하이 여행 브이로그 3화\n#중국여행 #상해여행 #상해맛집 #상하이여행...,147122,3783,545,252000,https://i.ytimg.com/vi/xBlcO73AC-Y/hqdefault.jpg,2024-11-09T01:01:32Z
13,-A5KzRk5kI4,상해에 오길 잘했다,중국 상하이 상해 여행 브이로그 2화\n#중국여행 #상해여행 #상해맛집 #상하이여행...,171211,4091,550,252000,https://i.ytimg.com/vi/-A5KzRk5kI4/hqdefault.jpg,2024-11-02T02:07:54Z
14,z1nrwmUWgl4,내가 알던 중국이 아니야,중국 상하이 상해 여행 브이로그 1화\n#중국여행 #상해여행 #상하이여행\n\n📍영...,269063,5404,932,252000,https://i.ytimg.com/vi/z1nrwmUWgl4/hqdefault.jpg,2024-10-25T09:02:47Z
15,LaPJMNdb3OA,나 가을 타나봐...,한국의 스위스 평창 가을 여행\n#국내여행 #가을여행지 #강원도여행 #맛집 #몰바니...,158410,3627,500,252000,https://i.ytimg.com/vi/LaPJMNdb3OA/hqdefault.jpg,2024-10-14T09:02:03Z
16,1KKBL2W63kM,20대 때와는 전혀 다른 인생을 살게 되기까지의 과정들🔭,퇴사 후 먹고 사는 이야기\n#퇴사 #도전 #유튜버 #작가 #창업 #출간\n\n📍영...,200205,4814,581,252000,https://i.ytimg.com/vi/1KKBL2W63kM/hqdefault.jpg,2024-10-07T11:20:57Z
17,1jluLhgEmNw,나는 괌이 좋다,30대 부부의 괌 여행 브이로그\n#괌 #괌여행 #괌여행브이로그 #괌맛집 #이퀄리브...,180588,3685,423,252000,https://i.ytimg.com/vi/1jluLhgEmNw/hqdefault.jpg,2024-10-03T10:11:21Z
18,uF0Rl1G9UpA,미국 땅인데 한국인이 더 많다는 신비의 섬,30대 부부의 괌 여행 브이로그\n#괌 #괌여행 #괌여행브이로그 #괌맛집 #괌호텔 ...,445423,6601,576,252000,https://i.ytimg.com/vi/uF0Rl1G9UpA/hqdefault.jpg,2024-09-28T02:05:18Z
19,5AQiQyZahis,중국인이 점령해버렸다는 태국 방콕 현재 상황,30대 부부의 태국 방콕 여행 브이로그\n#태국 #태국여행 #방콕 #방콕여행 #방콕...,260324,5201,676,252000,https://i.ytimg.com/vi/5AQiQyZahis/hqdefault.jpg,2024-09-24T09:02:02Z
20,L6NEvmSjppA,다들 왜 방콕 방콕하는지 이제야 알겠다... 진작 이렇게 올걸!,30대 부부의 태국 방콕 여행 브이로그\n#태국 #태국여행 #방콕 #방콕여행 #방콕...,285571,5610,733,252000,https://i.ytimg.com/vi/L6NEvmSjppA/hqdefault.jpg,2024-09-11T09:02:32Z
21,NU49Y9fhSPc,잠깐 놀러왔다가 결국엔 눌러살게 된다는 물가천국 치앙마이,30대 부부의 태국 치앙마이 여행 브이로그\n#태국 #태국여행 #한달살이 #한달살기...,230764,4990,673,252000,https://i.ytimg.com/vi/NU49Y9fhSPc/hqdefault.jpg,2024-09-04T12:10:52Z
22,Sm93qzQjm7s,평균월급 60만원인 나라에서 1억의 가치...이정도라고?,30대 부부의 태국 치앙마이 여행 브이로그\n#태국 #태국여행 #한달살이 #한달살기...,641574,8408,1198,252000,https://i.ytimg.com/vi/Sm93qzQjm7s/hqdefault.jpg,2024-08-27T09:06:53Z
23,EkywuDhW_U0,"한국처럼 살면서 동남아 물가, 이민을 간다면 여기다!",30대 부부의 태국 치앙마이 여행 브이로그\n#태국 #태국여행 #여름휴가 #치앙마이...,356029,6168,850,252000,https://i.ytimg.com/vi/EkywuDhW_U0/hqdefault.jpg,2024-08-20T09:02:59Z
24,mk-ZBM1lwi4,방콕보다 100배 더 좋은 치앙마이를 소개합니다,30대 부부의 태국 치앙마이 여행 브이로그\n#태국 #태국여행 #여름휴가 #치앙마이...,257864,5441,1000,252000,https://i.ytimg.com/vi/mk-ZBM1lwi4/hqdefault.jpg,2024-08-13T09:10:49Z